*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(96, 90, 172);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 24px;
    text-align: center;
}

body{
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    border: solid 5px black;
    display: flex;
    height: 300px;
    justify-content: center;
    align-content: center;
}


form{
    padding: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}


#body{
    align-items: center ;
    background-color: black;
}
#botaorecuperarsenha{
    background-color: brown;
    width: 120px;
    justify-content: center;
    align-items: center;
}

#botaoentrar{
    background-color: brown;
    width: 100px;   
    align-items: center;
}

.barrahorizontal{
    background-color: black;
    height: 2px;
    width: 250px;
}