*{
    margin: 0;
    padding: 0;
    background-color:  white;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 24px;
    text-align: center;
}

body{
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    border: solid 5px black;
    display: flex;
    height: 500px;
    justify-content: center;
    align-content: center;
}

.box div{
    width: 100px;
    height: 100px;
}


form{
    padding: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#botaorecuperarsenha{
    background-color: brown;
    width: 120px;
    justify-content: center;
    align-items: center;
}

#botaoentrar{
    background-color: brown;
    width: 100px;   
    align-items: center;
}

.barrahorizontal{
    background-color: black;
    height: 2px;
    width: 20px;
}

body, form{
    align-items: center;
    text-align: center;
    justify-content: center;
}